<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data PUPZ</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data PUPZ</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
           <!-- <a class="btn btn-primary btn-embossed" href="/manajemen_pupz/insert" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Tambah Data</a> -->
        </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header">No.</th>
                <th class="header">Pola Ruang</th>
                <th class="header">Diizinkan</th>
                <th class="header">Terbatas</th>
                <th class="header">Bersyarat</th>
                <th class="header">Dilarang</th>
                <th class="header">Ketentuan Lain</th>
                <th class="header">Keterangan Lain</th>
                <th class="header">Option</th>
              </tr>
            </thead>
            
            <tbody>
              <%for(let i =0; i < data.length; i++){%>
              <tr>
                <td><%= i+1%></td>
                <td><%= data[i].pola_ruang%></td>
                <td><%= data[i].diizinkan%></td>
                <td><%= data[i].terbatas%></td>
                <td><%= data[i].bersyarat%></td>
                <td><%= data[i].dilarang%></td>
                <td><%= data[i].ketentuan%></td>
                <td><%= data[i].keterangan%></td>

                <td>
                  <ul class="list-inline">
                    <li><a class="btn btn-warning btn-embossed btn-sm" href="/manajemen_pupz/edit/<%= data[i].id%>" role="button" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                  </ul>
                </td>
              </tr>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2017 </span>
        <span>Pemerintah Kabupaten Pekalongan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data').DataTable({
      "language": {
          "sProcessing":   "Sedang memproses...",
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
      "columnDefs": [
          { "width": "110px", "targets": 3}
      ],
    });
  });
</script>